# C/C++
*.o
*.d
*.so

# Python
__init__.py
*.py[cod]

# ROOT
BLTAnalysis/bin/*.root
BLTAnalysis/test/*.root

# Stuff
*~
*.log

# directories
BLTAnalysis/data/electron_scale_smear
BLTAnalysis/test/batch
